@charset "UTF-8";
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  min-width: 280px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 71px;
  }
}

/* Скрытый элемент */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  height: 230px;
}

.first-image {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_mobile.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .first-image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_tablet.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_tablet.jpg);
  }
}

@media (min-width: 1024px) {
  .first-image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_desc@2x.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_desc@2x.jpg);
  }
}

.second-image {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/library_mobile.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (min-width: 768px) {
  .second-image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/library_tablet.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library_tablet.jpg);
  }
}

@media (min-width: 1024px) {
  .second-image {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/library_desc@2x.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library_desc@2x.jpg);
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 45px;
}

@media (min-width: 768px) {
  .header__box {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 35px;
  margin-right: 109px;
}

@media (min-width: 768px) {
  .logo__title {
    margin-right: 300px;
    width: 165px;
    color: $light-text-color;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }
}

@media (min-width: 1024px) {
  .logo__title {
    margin-right: 565px;
  }
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  height: 20px;
}

.search__logo {
  width: 15px;
  height: 15px;
  fill: none;
}

.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 0.5px solid $light-text-color;
}

.search__text {
  width: 260px;
  height: 20px;
  background-color: transparent;
  color: $light-text-color;
  border: none;
  border-bottom: 0.5px solid $light-text-color;
}

@media (min-width: 768px) {
  .search__text {
    width: 320px;
  }
}

.search__text::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: $light-text-color;
}

.search__text:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: $light-text-color;
}

.search__text::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: $light-text-color;
}

.search__text::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $light-text-color;
}

.search__text:hover, .search__text:focus {
  outline: none;
}

.site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__btn {
  margin-right: 40px;
}

.home__btn,
.library__btn {
  color:$light-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.home__btn:hover,
.home__btn:focus,
.library__btn:hover,
.library__btn:focus {
  border-bottom: 3px solid $accent-color;
}

.my-library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px auto 0 320px;
}

.button {
  background-color: transparent;
  color: $light-text-color;
  width: 130px;
  height: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid $light-text-color;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
   font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button:first-child {
  margin-right: 15px;
}

.button:focus, .button:hover {
  background: $accent-color;
  -webkit-box-shadow: 0px 8px 43px $accent-color-shadow;
          box-shadow: 0px 8px 43px $accent-color-shadow;
  border: 1px solid $accent-color;
  border-radius: 5px;
}

.is-active {
  background: #$accent-color;
  color: $light-text-color;
  -webkit-box-shadow: 0px 4px 4px $accent-color-shadow;
          box-shadow: 0px 4px 4px $accent-color-shadow;
  border: 1px solid $accent-color;
  border-radius: 5px;
}

.main {
  padding: 60px 0;
  min-height: calc(100vh - 280px);
}

.film__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.film__item {
  width: 274px;
  height: 440px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.film__poster {
  width: 274px;
  height: 398px;
  border-radius: 5px;
}

.film__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.film__genres,
.film__year {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $accent-color;
}

.film__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film__grade {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: $accent-color;
  color: $light-text-color;
}

.footer {
  height: 80px;
  padding: 30px 0;
  background-color: $light-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__logo {
  margin: 0 10px;
  width: 14px;
  height: 14px;
}

.footer__info {
 font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.loader {
  border: 16px solid $light-background-color;
  border-top: 16px solid $accent-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.invisible {
  display: none;
}

.visible {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: dark-background-color;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function);
  transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */