{{#each this}}
<div class="film__item">
	<div class="poster__thumb">
		<img 
		src="" 
		alt="" 
		class="film__poster">
	</div>
	<div class="film__info">
		<h2 class="film__name"></h2>
		<p class="film__genres"></p>
		<p class="film__year"></p>
		<p class="film__grade"></p>
	</div>
</div>
{{/each}}