    <div class="students__presentation">
    <h2 class="student_name">{{name}}</h2>
    <br>
    <a href="{{link}}" class="student_link">{{link}}</a>
    <br>
    <p class="student_description">{{description}}</p>
</div>