{{#each this}}

<li class="goit_students__item">
    <h2 class="desc__name goit_students__name">{{name}}</h2>
    <a class="desc__link goit_students__link"  href="{{link}}">{{link}}</a>
    <p class="desc">{{description}}</p>
</li>

{{/each}}