.footer {
  height: 80px;
  padding: 30px 0;
  background-color: $light-background-color;
 // font-family: Roboto;
 // font-style: normal;
  color: $third-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
}

.footer__logo {
  margin: 0 10px;
  width: 14px;
  height: 14px;
}

.footer__info {
  //font-family: Roboto;
 // font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  align-items: center;
  text-align: center;
}
