.card-film {
  position: relative;
  width: 280px;
  height: 100vh;
  font-size: 12px;
  font-weight: 500;
  overflow: auto;
  background-color: $light-background-color;
  border-radius: 5px;
  color: $primary-text-color;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 640px;
    height: auto;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    width: 880px;
    height: 570px;
  }
}

.card-image {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    width: 50%;
    margin-right: 10px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 20px;
    margin-right: 0px;
  }
}
.card-poster {
  display: block;
  border-radius: 5px;

  @media screen and (min-width: 1024px) {
    // width: 90%;
    height: 100%;
    //object-fit: contain;
  }
}

.card-description {
  margin: 0px 20px;
  @media screen and (min-width: 768px) {
    width: 50%;
    //margin-right: 20px;
  }
  @media screen and (min-width: 1024px) {
    width: 70%;
    //margin-right: 20px;
  }

  &-title {
    font-size: 20px;
    line-height: 1.17;
    font-weight: 500;
    padding-bottom: 20px;
    // margin-top: 30px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      padding-top: 42px;
    }
  }

  &-content {
    padding-bottom: 20px;
  }

  &-cell {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    width: 108px;
    line-height: 16px;
    color: $secondary-text-color;
    padding-bottom: 10px;

    @media screen and (min-width: 1024px) {
      width: 152px;
    }
  }

  &-details {
    text-transform: capitalize;
    line-height: 14px;
    padding-bottom: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;

    &--title {
      text-transform: uppercase;
      padding-bottom: 12px;
    }
  }
}

.movie-vote,
.library-vote {
  background-color: $accent-color;
  color: $light-text-color;
  display: inline-block;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  width: 36px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 10px;
  @media screen and (min-width: 1024px) {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
}

// добавлены стили. Карпова


.movie-votes {
  background-color: $accent-color;
  color: $light-text-color;
  display: inline-block;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  width: 36px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.movie-about {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  &-title {
    line-height: 1.33;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &-description {
    text-align: justify;
    line-height: 1.67;
  }
}

.modal-btns {
  display: flex;
  margin-bottom: 40px;
}


.watch-trailer {
}
.modal-button-close {
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $light-background-color;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('https://img.icons8.com/material-two-tone/24/000000/multiply.png');
  box-shadow: none;
}

.add-to-watched,
.add-to-queue {
  justify-content: space-between;
  @media (min-width: $desktop) {
    justify-content: flex-start;
  }
  background: $light-background-color;
  border: 1px solid $primary-text-color;
  border-radius: 5px;
  color: $primary-text-color;
  width: 130px;
  height: 45px;

  box-sizing: border-box;
  border-radius: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  &:first-child {
    margin-right: 15px;
  }

  &:focus,
  &:hover {
    color: $light-text-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px $accent-color-shadow;
    border: 1px solid $accent-color;
    border-radius: 5px;
  }
}

.is-active {
  background: $accent-color;
  color: $light-text-color;
  box-shadow: 0px 4px 4px $accent-color-shadow;
  border: 1px solid $accent-color;
  border-radius: 5px;
}
