.header {
  height: 230px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header_desc.jpg);
  background-repeat: no-repeat;
  background-size: 1024px 230px, contain;
  background-position: center;
  margin: 0 auto;
}

.header__box {
  display: flex;
  padding-top: 41px;
}

.logo__title {
  @include flex-center;

  color: $light-text-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  margin-right: 90px;
}

.logo__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.search__form {
  display: flex;
  margin-top: 73px;
  margin-right: 107px;
  height: 20px;
}

.search__logo {
  width: 15px;
  height: 15px;
  fill: none;
}

.search__btn {
  @include flex-center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 0.5px solid #ffffff;
}

.search__text {
  width: 316px;
  height: 20px;
  background-color: transparent;
  color: $light-text-color;
  border: none;
  border-bottom: 0.5px solid #ffffff;
}

.search__text::placeholder {
  color: $light-text-color;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  display: flex;
  align-items: center;
}

.search__text:hover,
.search__text:focus {
  outline: none;
}

.home__btn {
  margin-right: 40px;
}

.home__btn,
.library__btn {
  color: $light-text-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.home__btn:hover,
.home__btn:focus,
.library__btn:hover,
.library__btn:focus {
  border-bottom: 3px solid $accent-color;
}

.main {
  min-height: calc(100vh - 280px);
}

.film__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.film__item {
  // display: flex;
  width: 274px;
  height: 350px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.footer {
  height: 80px;
  padding: 30px 0;
  background-color: #f7f7f7;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
}

.footer__logo {
  width: 14px;
  height: 14px;
}

.footer__info {
  margin: 0 auto;
}

.test {
  width: 150px;
  height: 150px;
  background-color: red;
}
