.header {
  height: 230px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header_tablet.jpg);
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header_desc@2x.jpg);
  }
}

.header__box {
  display: flex;
  flex-wrap: wrap;
  vertical-align: bottom;
  padding-top: 45px;

  @media (min-width: $tablet) {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
}

.logo__icon {
  width: 24px;
  height: 24px;
  // margin-right: 10px;
}

.logo__title {
  width: 24px;
  height: 24px;
  margin-right: 109px;

  @media (min-width: $tablet) {
    margin-right: 300px;
    width: 165px;
    color: $light-text-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }

  @media (min-width: $desktop) {
    margin-right: 565px;
  }
}

.search__form {
  display: flex;
  margin-top: 45px;
  // margin-right: 107px;
  height: 20px;
}

.search__logo {
  width: 15px;
  height: 15px;
  fill: none;
}

.search__btn {
  @include flex-center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 0.5px solid #ffffff;
}

.search__text {
  width: 260px;
  height: 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 0.5px solid #ffffff;

  @media (min-width: $tablet) {
    width: 320px;
  }
}

.search__text::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.search__text:hover,
.search__text:focus {
  outline: none;
}

.library_form {
  display: flex;
}

.home__btn {
  margin-right: 40px;
}

.home__btn,
.library__btn {
  color: $light-text-color;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.home__btn:hover,
.home__btn:focus,
.library__btn:hover,
.library__btn:focus {
  border-bottom: 3px solid $accent-color;
}

.main {
  min-height: calc(100vh - 280px);
}

.film__list {
  margin-top: -30px;
  margin-left: -30px;
}

.film__item {
  margin-top: 30px;
  margin-left: 30px;
}

.footer {
  height: 80px;
  padding: 30px 0;
  background-color: #f7f7f7;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
}

.footer__logo {
  margin: 0 10px;
  width: 14px;
  height: 14px;
}

.footer__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  align-items: center;
  text-align: center;
}
