.header {
  height: 230px;
}

.first-image {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header_tablet.jpg);
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header_desc@2x.jpg);
  }
}

.second-image {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/library_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @media (min-width: $tablet) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library_tablet.jpg);
  }

  @media (min-width: $desktop) {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library_desc@2x.jpg);
  }
}

.header__box {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 45px;

  @media (min-width: $tablet) {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
}

.logo__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.logo__title {
  display: flex;
  align-items: center;
  width: 24px;
  height: 35px;
  margin-right: 109px;

  @media (min-width: $tablet) {
    margin-right: 300px;
    width: 165px;
    color: $light-text-color;
    //font-family: Roboto;
    //font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }

  @media (min-width: $desktop) {
    margin-right: 565px;
  }
}

.search__form {
  display: flex;
  margin-top: 45px;
  height: 20px;
}

.search__logo {
  width: 15px;
  height: 15px;
  fill: none;
}

.search__btn {
  @include flex-center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 0.5px solid $light-text-color;
}

.search__text {
  width: 260px;
  height: 20px;
  background-color: transparent;
  color: $light-text-color;
  border: none;
  border-bottom: 0.5px solid $light-text-color;

  @media (min-width: $tablet) {
    width: 320px;
  }

  &::placeholder {
    //font-family: Roboto;
   // font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: $light-text-color;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.site__nav {
  display: flex;
  align-items: center;
}

.home__btn {
  margin-right: 40px;
}

.home__btn,
.library__btn {
  color: $light-text-color;
  //font-family: Roboto;
  //font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.home__btn:hover,
.home__btn:focus,
.library__btn:hover,
.library__btn:focus {
  border-bottom: 3px solid $accent-color;
}

// My-library

.my-library {
  display: flex;
  margin-top: 45px;
  justify-content: center;
}

.button {
  background-color: transparent;
  color: $light-text-color;
  width: 130px;
  height: 45px;
  justify-content: space-between;
  border: 1px solid $light-text-color;
  box-sizing: border-box;
  border-radius: 5px;

 // font-family: Roboto;
 // font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  &:first-child {
    margin-right: 15px;
  }

  &:focus,
  &:hover {
    background: $accent-color;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: 1px solid $accent-color;
    border-radius: 5px;
  }
}

.is-active {
  background: $accent-color;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: 1px solid $accent-color;
  border-radius: 5px;
}
 